<div class="row" ng-controller="ListPostCtrl as listController">
    &NonBreakingSpace;

    <div ng-repeat="post in listController.posts">
        <article>
            <h3><a href="#/post/view/{{ post.permalink }}">{{ post.title }} <span class="label label-default">New</span></a>
            </h3>
            <aside class="text-muted">
                <small>On {{ post.publishingDate }} by {{ post.author }}</small>
                <nav class="nav-right">
                    <div class="btn-group" role="group">
                        <a class="btn glyphicon glyphicon-edit glyphicon-align-left"
                           href="#/post/update/{{ post.permalink }}">Update
                        </a>
                        <a class="btn glyphicon glyphicon-remove-sign glyphicon-align-left" href="#" ng-click="listController.delete(post.permalink)">
                            Delete
                        </a>
                    </div>
                </nav>
            </aside>

            <p>
                {{ post.content }}
            </p>

        </article>
        <hr/>
    </div>


    <nav>
        <ul class="pagination">
            <li class="disabled"><a href="#" aria-label="Previous"><span aria-hidden="true">&laquo;</span></a></li>
            <li ng-repeat="elem in listController.pageRange" class="{{listController.getActive(elem)}}">
                <a ng-click="listController.changePage(elem)" href="#">{{ elem }}
                    <span ng-show="elem == listController.currentPage" class="sr-only">(current)</span>
                </a>
            </li>
        </ul>
    </nav>
</div>