<div class="row">
    <div ng-controller="CreateApplicationCtrl as cac">
        <h1>Create Application</h1>

        <form id="CreateApplicationForm" name="CreateApplicationForm" class="form-horizontal" role="form"
              ng-submit="cac.createApplication()">
            <legend class="sm-col-12">Basic Information</legend>

            <div class="form-group">
                <label id="lbl_firstName" for="name" class="col-sm-4 control-label">Name</label>

                <div class="col-sm-8">
                    <input type="text" class="form-control" name="name" id="name" placeholder=""
                           ng-model="cac.application.name">
                </div>
            </div>

            <div class="form-group">
                <label id="lbl_groupId" for="groupId" class="col-sm-4 control-label">GroupId</label>

                <div class="col-sm-8">
                    <input type="text" class="form-control" name="groupId" id="groupId" placeholder=""
                           ng-model="cac.application.groupId">
                </div>
            </div>

            <div class="form-group">
                <label id="lbl_scm" for="scmUrl" class="col-sm-4 control-label">Version Control URL</label>

                <div class="col-sm-8">
                    <input type="text" class="form-control" name="scmUrl" id="scmUrl" placeholder=""
                           ng-model="cac.application.scmUrl">
                </div>
            </div>

            <div class="form-group">
                <label id="lbl_dockerImage" for="dockerImage" class="col-sm-4 control-label"
                       is-required="CreateApplicationForm.dockerImage">Docker Image</label>

                <div class="col-sm-8">
                    <input type="text" class="form-control" name="dockerImage" id="dockerImage"
                           ng-model="cac.application.dockerImage">
                </div>
            </div>

            <div class="form-group">
                <label id="lbl_active" for="dockerImage" class="col-sm-4 control-label"
                       is-required="CreateApplicationForm.active">Activate</label>

                <div class="col-sm-8">
                    <input type="checkbox" class="form-control" name="active" id="active"
                           ng-model="cac.application.active">
                </div>
            </div>

            <pre>{{ cac.application | json }}</pre>

            <div class="form-group">
                <div class="col-sm-offset-4 col-sm-8 text-right">
                    <a ng-href="/#/" id="btn_cancel" class="btn btn-warning">Cancel</a>

                    <button type="submit" class="btn btn-success" id="btn_create">Create Application</button>
                </div>
            </div>


        </form>
    </div>
</div>

