<div class="row">
    <div ng-controller="CreatePostCtrl as cpc">
        <h1>Create Post</h1>

        <form id="CreatePostForm" name="CreatePostForm" class="form-horizontal" role="form">
            <legend class="sm-col-12">Post Information</legend>

            <div class="alert alert-danger" role="alert" ng-repeat="error in cpc.errors">
                <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                <span class="sr-only">Error: {{ error }}</span>
            </div>

            <div class="form-group">
                <label id="lbl_title" for="title" class="col-sm-4 control-label"
                       is-required="CreatePostForm.title">Title</label>

                <div class="col-sm-8">
                    <input type="text" class="form-control" name="name" id="title" placeholder=""
                           ng-model="cpc.post.title" ng-change="validateTitle()" required ng-value="cpc.post.title">
                </div>
            </div>

            <div class="form-group">
                <label id="lbl_content" for="content" class="col-sm-4 control-label"
                       is-required="CreatePostForm.content">Content</label>

                <div class="col-sm-8">
                    <textarea class="form-control" name="content" id="content" placeholder=""
                           ng-model="cpc.post.content" ng-change="validateContent()" required>
                    </textarea>
                </div>
            </div>

            <div class="form-group">
                <label id="lbl_scm" for="permalink" class="col-sm-4 control-label"
                       is-required="CreatePostForm.permalink">Permalink</label>

                <div class="col-sm-8">
                    <input type="text" class="form-control" name="permalink" id="permalink" placeholder=""
                           ng-model="cpc.post.permalink" ng-change="validatePermalink()" required ng-value="cpc.post.permalink">
                </div>
            </div>

            <div class="form-group">
                <label id="lbl_active" for="active" class="col-sm-4 control-label"
                       is-required="CreatePostForm.active">Activate</label>

                <div class="col-sm-8">
                    <input type="checkbox" class="form-control" value="true" name="active" id="active"
                           ng-model="cpc.post.activate" ng-change="validateActive()" ng-value="cpc.post.activate">
                </div>
            </div>

            <pre>{{ cpc.post | json }}</pre>

            <div class="form-group">
                <div class="col-sm-offset-4 col-sm-8 text-right">
                    <a ng-href="/#/" id="btn_cancel" class="btn btn-warning">Go Back</a>

                    <button type="submit" class="btn btn-success" id="btn_create" ng-click="cpc.createPost()">Create Post</button>
                </div>
            </div>


        </form>
    </div>
</div>

